

.error {
  color: red
}

body {
  background-color: #002b36;
  font-family: Proxima Nova, Helvetica, Arial;
}

.background {
  background-color: #002b36;
}

.tile {
  background-color: #073642;
  /*margin: 5px;*/
}

.tile-title {
  color: #fdf6e3;
  font-weight: bold;
  font-size: 120%;
}

.tile-content {
  color: #93a1a1;
}

.one-way-price {
  cursor: pointer;
  text-transform: uppercase;
}

.one-way-price:hover {
  background-color: #cb4b16;  
}

.one-way-price.buy {
  color: #268bd2;  
}

.one-way-price.sell {
  color: #2aa198;
}

.one-way-price.buy:hover {
  color: #fdf6e3;  
}

.one-way-price.sell {
  color: #2aa198;
}

.one-way-price.sell:hover {
  color: #fdf6e3;
}

.big-figures {
  color: #fdf6e3;
  font-size: 250%;
  /*margin: 0 2px 0 2px;*/
}

.side-heading {
  color: #fdf6e3;
  text-transform: uppercase;
}

.quick-prices {
  color: #839496;
}

.notional-ccy {
  color: #b58900;
}

.notional {
  margin-left: 5px;
  background-color: transparent;
  border-style: none;
  display: inline-block;
  width: 100px;
  color: #657b83;
}

.spread {
  display: inline-block;
}

.up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #859900 transparent;
  display: inline-block;
}

.down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #dc322f transparent transparent transparent;
  display: inline-block;
}