.error {
  color: red
}

body {
  background-color: #1c1e22; //272b30
  font-family: Proxima Nova, Helvetica, Arial;
}

.nav-tabs > li > a
{
    /* adjust padding for height*/
    padding-top: 4px; 
    padding-bottom: 4px;
}

.header {
  background-color: #272b30;
  color: white;
  font-size: 15pt;
  text-align: center;
  width: 100%;
  padding: 8px 4px;

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.header .buttons {
}

.header .title {
}

.container {
  width: 100%;
}

.background {
  background-color: #002b36;
}

.row {
  padding-left: 0;
  margin-left: 0;
}

.spot-tile {
  width: 250px;
}

.spot-tile .heading {
  font-size: 12pt;
  padding: 2px;
  text-align: center;
}

.tile {
  background-color: #073642;
  margin: 5px;
  width: 250px;
  height: 150px;
  /*border: 1px dashed green;*/
  padding: 0 8px 0 8px;
  position: relative;
  float: left;
  border: 1px solid #455861;
}

.tile:hover {
  background-color: #001E27;
}

.tile-title {
  color: #fdf6e3;
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 4px;
  margin-top: 5px;
  margin-left: 2px;
}

.tile-content {
  color: #93a1a1;
}

.one-way-price {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  
  position: absolute;
  width: 90px;
  height: 80px;

  border: 1px solid #586e75;

  padding-top: 7px;
}

.tile:hover .notional {
  color: white;
}

.one-way-price.buy {
  color: #268bd2;  
  right: 10px;
  /*border: 1px dashed blue;*/
  float: right;
}

.one-way-price.sell {
  color: #2aa198;
  /*border: 1px dashed white;*/
  left: 10px;
  float: left;
}

.one-way-price.sell {
  color: #2aa198;
  right: 0;
}

.one-way-price:hover {
  background: none;
  background-color: #cb4b16;
}

.one-way-price.buy:hover {
  color: #fdf6e3;  
  border: 1px solid white;
}

.one-way-price.sell:hover {
  color: #fdf6e3;
  border: 1px solid white;
}

.one-way-price.non-tradeable, .one-way-price.non-tradeable > span > span.big-figures {
  color: #aaa;
}

.one-way-price.non-tradeable:hover {
  color: #aaa;
  background-color: #888;
  cursor: wait;
}

.big-figures {
  color: #fdf6e3;
  font-size: 250%;
  width: 50px;
  display: inline-block;
  /*border: 1px solid blue;*/
}

.spread {
  position: absolute;
  left: 56px;
  text-align: center;
  margin-top: 3px;
}

.spread-value {
  color: #93a1a1;
}

.side-heading {
  color: #fdf6e3;
  text-transform: uppercase;
}

.quick-prices {
  color: #839496;
}

.notional-container {
  display: block;
  clear: both;
  position: absolute;
  top: 120px;
  margin-left: 1px;
}

.notional-ccy {
  color: #b58900;
}

.notional {
  margin-left: 5px;
  background-color: transparent;
  border-style: none;
  display: inline-block;
  width: 100px;
  color: #657b83;
}

.spread-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #859900 transparent;
  display: inline-block;
}

.spread-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #dc322f transparent transparent transparent;
  display: inline-block;
}

.blotter-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.blotter {
  /*
  color: #eee8d5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border-top: 3px solid #93a1a1;*/
  background-color: #3e444c;
  height: 200px;
  overflow-y: auto;
  font-size: 11px;
}

.blotter .table {
  text-transform: uppercase;
}

.blotter .table th, .blotter .table td {
  width: 14%;
}

table {
  border-spacing: 0;
  width: 100%;
  margin: 0px;
}

td, th {
  border-bottom:1px solid #eee;
  background: #000;
  color: #fff;
  padding: 2px 0;
}

th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: 1px solid black;
  white-space: nowrap;
}
th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  /*border-left: 1px solid #800;*/
  border: none;
}
th:first-child div{
  border: none;
}

section {
  border: none;
  position: relative;
  padding-top: 30px;
  background-color: #3e444c;
}



.blotter .buy {
  background-color: #d33682;
  padding: 2px;
  width: 40px;
  text-align: center;
  display: inline-block;
}

.blotter .sell {
  background-color: #6c71c4;
  padding: 2px;
  width: 40px;
  text-align: center;
  display: inline-block;
}

.negative {
  background-color: #dc322f;
  padding: 2px;
  width: 80px;
  text-align: center;
  display: inline-block;
}

.positive {
  background-color: #859900;
  padding: 2px;
  width: 80px;
  text-align: center;
  display: inline-block;
}

/*.scrollable {
  scrollbar-face-color: #eee8d5;
  scrollbar-shadow-color: #839496;
  scrollbar-highlight-color: #839496;
  scrollbar-3dlight-color: #839496;
  scrollbar-darkshadow-color: #839496;
  scrollbar-track-color: #839496;
  scrollbar-arrow-color: #839496;  
}
*/
/* Let's get this party started */
.scrollable::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eee8d5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



